<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="$NLog-version$" />
  <package id="NPOI" version="$NPOI-version$" />
  <package id="NUnit" version="$NUnit-version$" />
  <package id="NUnit3TestAdapter" version="$NUnit3TestAdapter-version$" targetFramework="net472"/>
  <package id="OcarambaLite" version="$Ocaramba-version$" targetFramework="net472"/>
  <package id="Selenium.Support" version="$Selenium.Support-version$" targetFramework="net472"/>
  <package id="Selenium.WebDriver" version="$Selenium.WebDriver-version$" targetFramework="net472"/>
  <package id="Selenium.WebDriver.ChromeDriver" version="$Selenium.WebDriver.ChromeDriver-version$"  targetFramework="net472"/>
  <package id="Selenium.WebDriver.GeckoDriver" version="$Selenium.WebDriver.GeckoDriver-version$" targetFramework="net472"/>
  <package id="Selenium.WebDriver.IEDriver" version="$Selenium.WebDriver.IEDriver-version$" />
  <package id="System.Text.Json" version="$SystemTextJson-version$" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="$SystemRuntimeCompilerServicesUnsafe-version$" />
</packages>
