<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="$NLog-version$" />
  <package id="NPOI" version="$NPOI-version$" />
  <package id="NUnit" version="$NUnit-version$" />
  <package id="NUnit3TestAdapter" version="$NUnit3TestAdapter-version$" />
  <package id="Ocaramba" version="$Ocaramba-version$" />
  <package id="Selenium.Support" version="$Selenium.Support-version$" />
  <package id="Selenium.WebDriver" version="$Selenium.WebDriver-version$" />
  <package id="Selenium.WebDriver.ChromeDriver" version="$Selenium.WebDriver.ChromeDriver-version$" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="$Selenium.WebDriver.GeckoDriver.Win64-version$" />
  <package id="Selenium.WebDriver.IEDriver" version="$Selenium.WebDriver.IEDriver-version$" />
  <package id="SharpZipLib" version="$SharpZipLib-version$"  />
</packages>