<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestFramework" version="$MSTest.TestFramework-version$" targetFramework="net45" />
  <package id="NLog" version="$NLog-version$"  targetFramework="net45" />
  <package id="Ocaramba" version="$Ocaramba-version$" targetFramework="net45" />
  <package id="Selenium.Support" version="$Selenium.Support-version$" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="$Selenium.WebDriver-version$" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="$Selenium.WebDriver.ChromeDriver-version$" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="$Selenium.WebDriver.GeckoDriver.Win64-version$" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="$Selenium.WebDriver.IEDriver-version$" targetFramework="net45" />
</packages>
